<h1>Welcome to Fredbook</h1>

<p>
	Fredbook is a patient-owned health dashboard that helps you manage your care. 
</p>
<p>
	It is and always will be free. Your data will never be shared with anyone without your explicit consent. 
</p>
<p>
	Fredbook is a non-profit organisation.
</p>

<p>	
	<%= link_to "Create an account here", new_user_registration_path, class: "btn btn-primary" %>
</p>