<%- model_class = Preference -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Your Data.Care Preference" %></h1>
</div>

<p>
  Your care.data privacy setting: <%= Preference::CARE_DATA_SETTING_VALUES[current_user.preference.care_data_privacty_setting] %>
</p>

<div class="form-group">  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_preference_path(@preference), :class => 'btn btn-default' %>  
</div>