	app/views/application/_right_column.html.erb
	<% # a 2 cell width navigation area included from application.html.erb %>

	<div id="latest_offer">
		<h3>Did you know you can get a flu vaccine?</h3>
		<a href="http://www.nhs.uk/Conditions/vaccinations/Pages/who-should-have-flu-vaccine.aspx">Find out more</a>
	</div>